
<%= form_tag offers_path, as: :search, method: :get, class: "form-row gx-3 gy-2 align-items-center" do %>
  <div class= "form-group col">
    <%= label_tag(:searchCity,"Localisation du poste", class: "form-label") %>
      <%= text_field_tag "search[companies.city]",
      params[:searchCity],
      class: "form-control search-input",
      placeholder: "Où?",
      value: (params[:search].nil? ? nil : params[:search]["companies.city"]),
      id:"searchCity"
      %>
  </div>

  <div class= "form-group col">
    <%= label_tag(:searchName,"Le job de vos rêves",class: "form-label") %>
    <%= text_field_tag "search[offers.name]",
      params[:searchName],
      class: "form-control search-input",
      placeholder: "Quoi?",
      value:  (params[:search].nil? ? nil : params[:search]["offers.name"])
    %>
  </div>
  <div class= "form-group col">
    <%= label_tag(:searchIncome, "Income",class: "form-label", for: "searchIncome") %>
    <%= select_tag "search[income]", options_for_select(["", 25000, 30000], selected: (params[:search].nil? ? nil : params[:search]["income"])), class: "col-sm form-control search-input", id: "searchIncome" %>
  </div>
  <div class= "form-group col">
    <%= label_tag(:searchContract,"Contract", class: "form-label",) %>
    <%= select_tag "search[contract]", options_for_select(["","CDI", "CDD", "Freelance", "Apprentissage"], selected: (params[:search].nil? ? nil : params[:search]["contract"])), class: "col-sm form-control search-input", id: "searchContract" %>
  </div>
  <div class= "form-group col pt-4">
    <button class="btn btn-primary w-100" type="submit">Submit form</button>
  </div>

<% end %>
