<div class="label-align">
          <%= form_tag offers_path, as: :search, method: :get do %>
          <%= label_tag(:query,"Localisation du poste", class: "label-color-u") %>
          <%= text_field_tag "search[companies.city]",
          params[:query],
          class: "form-control",
          placeholder: "Où?"
          %>
        </div>

        <div class="label-align">
          <%= label_tag(:query,"Le job de vos rêves",class: "label-color-u") %>
          <%= text_field_tag "search[offers.name]",
          params[:query],
          class: "form-control",
          placeholder: "Quoi?"
          %>
        </div>
 <div class="shared_container">
    <%= select_tag "search[income]", options_for_select(["", 25000, 30000]) %>
    <%= select_tag "search[contract]", options_for_select(["", "CDI", "CDD", "Freelance", "Apprentissage"]) %>
    <%= submit_tag %>
  </div>
   <% end %>
  