
<%= form_tag offers_path, as: :search, method: :get, class: "form-group gx-3 gy-2 align-items-center" do %>
  <div class="row search-bar-index d-flex justify-content-center">
    <div class= "form-group col-4">
      <%= label_tag(:searchCity,"Localisation du poste", class: "form-label label-color") %>
        <%= text_field_tag "search[companies.city]",
        params[:searchCity],
        class: "form-control search-input",
        placeholder: "Où?",
        value: (params[:search].nil? ? nil : params[:search]["companies.city"]),
        id:"searchCity"
        %>
    </div>

    <div class= "form-group col-4">
      <%= label_tag(:searchName,"Le job de vos rêves",class: "form-label label-color") %>
      <%= text_field_tag "search[offers.name]",
        params[:searchName],
        class: "form-control search-input",
        placeholder: "Quoi?",
        value:  (params[:search].nil? ? nil : params[:search]["offers.name"])
      %>
    </div>
  </div>
  <div class="row mx-auto">
    <div class= "form-group col-md-2 mb-3">
      <%= label_tag(:searchIncome, "Income",class: "form-label", for: "searchIncome") %>
      <%= select_tag "search[income]", options_for_select(["", 25000, 30000, 35000, 40000], selected: (params[:search].nil? ? nil : params[:search]["income"])), class: "col-sm form-control search-input", id: "searchIncome" %>
    </div>
    <div class= "form-group col-md-2 mb-3">
      <%= label_tag(:searchContract,"Contract", class: "form-label",) %>
      <%= select_tag "search[contract]", options_for_select(["","CDI", "CDD", "Freelance", "Apprentissage"], selected: (params[:search].nil? ? nil : params[:search]["contract"])), class: "col-sm form-control search-input", id: "searchContract" %>
    </div>
    <div class= "form-group col pt-4">
      <button class="btn btn-primary mb-2" type="submit">Rechercher</button>
    </div>
  </div>

<% end %>
