<div class= "container">
  <div class= "card-show">
    <%= image_tag offer.company.logo_url, alt: "Logo de l'entreprise", class: "card-logo" %>
        <div class="coeur-fav-show">
          <% if current_user && current_user.already_in_list?(offer) %>
            <%= link_to wishlist_path(current_user.get_wishlist(offer)), method: :delete, remote: true do %>
                <i class="fas fa-heart"></i>
          <% end %>
          <% else %>
            <%= link_to offer_wishlists_path(offer), method: :post, remote: true do %>
                <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div>

    <p><%= offer.name %></p>
    <p><%= offer.company.name %></p>
    <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>
    <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>
    <p class="underline">Type de contrat : <%= offer.contract %> |<span class="underline"><%= offer.company.created_at.strftime("Ajoutée le %d/%m/%Y") %></span>
    <p>Salaire : <%= offer.income %></p>
    <p><%= offer.description %></p>

  </div>
  <%= link_to "Revenir à la liste d'offres", offers_path %>
</div>
