<div class="banner-homepage">

  <div class="container-homepage">
  <h5>Trouvez un emploi qui correspond à vos valeurs</h5>
        <%= form_tag offers_path, method: :get, class:"form-align" do %>
        <div class="label-align">
          <%= label_tag(:query,"Localisation du poste", class: "label-color") %>
          <%= text_field_tag "search[companies.city]",
          params[:query],
          class: "form-control",
          placeholder: "Où?"
          %>
        </div>
        <div class="label-align">
          <%= label_tag(:query,"Le job de vos rêves",class: "label-color") %>
          <%= text_field_tag "search[offers.name]",
          params[:query],
          class: "form-control",
          placeholder: "Quoi?"
          %>
        </div>
        <div class="buttonGO">
          <%= image_submit_tag("ethikly_hand.png") %>
          <% end %>
        </div>

    <div class ="hashtag-container">
      <ul class ="cloud">
        <li class ="cloud-list"><%= link_to "#environnemental", offers_path, class: "hashtags", class:"valeur", id:"environnemental", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#économique", offers_path, class: "hashtags", class:"valeur", id:"economique", data: {weight: "2"} %></li>
        <li class ="cloud-list"><%= link_to "#social", offers_path, class: "hashtags", class:"valeur", id:"social", data: {weight: "5"} %></li>
        <!--<li class ="cloud-list"><%= link_to "#viable", offers_path, class: "hashtags", class:"valeur", id:"viable", data: {weight: "8"} %></li>-->
        <li class ="cloud-list"><%= link_to "#ecolo", offers_path, class: "hashtags", class:"valeur", id:"ecolo", data: {weight: "6"} %></li>
        <li class ="cloud-list"><%= link_to "#équitable", offers_path, class: "hashtags", class:"valeur", id:"equitable", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#diversité", offers_path, class: "hashtags", class:"valeur", id:"diversité", data: {weight: "5"} %></li>
        <li class ="cloud-list"><%= link_to "#parité", offers_path, class: "hashtags", class:"valeur", id:"parité", data: {weight: "9"} %></li>
        <li class ="cloud-list"><%= link_to "#inclusion", offers_path, class: "hashtags", class:"valeur", id:"inclusion", data: {weight: "7"} %></li>
      </ul>
    </div>

    </div>


</div>
<div class="custom-shape-divider-top-1639074643">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>

 <div class="d-flex justify-content-around homepage-bottom">

    <div class="homepage-infos">
      <%= image_tag "survivor.png", class: "footer_image" %>
      <h3 class="text-center">Recherche</h3>
      <p class="text-center">La recherche d'emploi peut être chronophage</p>
    </div>
    <div class="homepage-infos">
      <%= image_tag "SEO-bro.png", class: "footer_image" %>
      <h3 class="text-center">Ethikly</h3>
      <p class="text-center">vous simplifie la vie</p>
    </div>
    <div class="homepage-infos">
      <%= image_tag "Rowing-amico.png", class: "footer_image" %>
      <h3 class="text-center">Enfin</h3>
      <p class="text-center">une utilisation optimale de votre temps</p>
    </div>
  </div>

<%# laisser pour le moment les id des hashtags au cas où ils nous servent pour du javascript effect si nous en faisons des liens %>
