<div class="banner">
  <div class= "container align-self-center ">
  <h5>Donnez du sens à votre vie!  Choisissez un travail éthique!</h5>
      <%= form_tag offers_path, method: :get do %>
        <%= label_tag(:query,"Localisation du poste", class: "label-color") %>
        <%= text_field_tag :ou,
        params[:query],
        class: "form-control",
        placeholder: "Où?"
      %>
    
        <%= label_tag(:query,"Le job de vos rêves",class: "label-color") %>
        <%= text_field_tag :quoi,
        params[:query],
        class: "form-control",
        placeholder: "Quoi?"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

     <%= link_to "#environnemental", offers_path, class: "hashtags" %>
     <%= link_to "#economique", offers_path, class: "hashtags" %>
     <%= link_to "#social", offers_path, class: "hashtags" %>
     <%= link_to "#viable", offers_path, class: "hashtags" %>
     <%= link_to "#vivable", offers_path, class: "hashtags" %>
     <%= link_to "#equitable", offers_path, class: "hashtags" %>

  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-contact">
    Nous contacter | A propos
  </div>
</div>