<div class="banner-homepage">
  <h5>Donnez du sens à votre vie! Choisissez un travail éthique!</h5>
  <div class="container-homepage">
    <div class= "form-align-u">
      <div class="label-align">
        <%= form_tag offers_path, method: :get do %>
        <%= label_tag(:query,"Localisation du poste", class: "label-color") %>
        <%= text_field_tag :ou,
        params[:query],
        class: "form-control",
        placeholder: "Où?"
        %>
      </div>
      <div class="label-align">
        <%= label_tag(:query,"Le job de vos rêves",class: "label-color") %>
        <%= text_field_tag :quoi,
        params[:query],
        class: "form-control",
        placeholder: "Quoi?"
        %>
      </div>
      <div class ="buttonGO">
        <%= submit_tag "Go👌", class: "buttonGo" %>
        <% end %>
      </div>
    </div>
    <div class ="hashtag-container">
      <ul class ="cloud">
        <li class ="cloud-list"><%= link_to "#environnemental", offers_path, class: "hashtags", class:"valeur", id:"environnemental", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#economique", offers_path, class: "hashtags", class:"valeur", id:"economique", data: {weight: "2"} %></li>
        <li class ="cloud-list"><%= link_to "#social", offers_path, class: "hashtags", class:"valeur", id:"social", data: {weight: "5"} %></li>
        <li class ="cloud-list"><%= link_to "#viable", offers_path, class: "hashtags", class:"valeur", id:"viable", data: {weight: "8"} %></li>
        <li class ="cloud-list"><%= link_to "#ecolo", offers_path, class: "hashtags", class:"valeur", id:"ecolo", data: {weight: "6"} %></li>
        <li class ="cloud-list"><%= link_to "#equitable", offers_path, class: "hashtags", class:"valeur", id:"equitable", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#diversité", offers_path, class: "hashtags", class:"valeur", id:"diversité", data: {weight: "5"} %></li>
        <li class ="cloud-list"><%= link_to "#parité", offers_path, class: "hashtags", class:"valeur", id:"parité", data: {weight: "9"} %></li>
        <li class ="cloud-list"><%= link_to "#inclusion", offers_path, class: "hashtags", class:"valeur", id:"inclusion", data: {weight: "7"} %></li>
      </ul>
    </div>
  </div>
</div>
<%# laisser pour le moment les id des hashtags au cas où ils nous servent pour du javascript effect si nous en faisons des liens %>
