<div class="banner-homepage">

  <div class="container-homepage">
  <h5>Trouvez un emploi qui correspond à vos valeurs</h5>
        <%= form_tag offers_path, method: :get, class:"form-align" do %>
        <div class="label-align">
          <%= label_tag(:query,"Localisation du poste", class: "label-color") %>
          <%= text_field_tag "search[companies.city]",
          params[:query],
          class: "form-control",
          placeholder: "Où?"
          %>
        </div>
        <div class="label-align">
          <%= label_tag(:query,"Le job de vos rêves",class: "label-color") %>
          <%= text_field_tag "search[offers.name]",
          params[:query],
          class: "form-control",
          placeholder: "Quoi?"
          %>
        </div>
        <div class="buttonGO">
          <%= image_submit_tag("ethikly_hand.png") %>
          <% end %>
        </div>

    <div class ="hashtag-container">
      <ul class ="cloud">
        <li class ="cloud-list"><%= link_to "#environnemental", offers_path, class: "hashtags", class:"valeur", id:"environnemental", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#économique", offers_path, class: "hashtags", class:"valeur", id:"economique", data: {weight: "2"} %></li>
        <li class ="cloud-list"><%= link_to "#social", offers_path, class: "hashtags", class:"valeur", id:"social", data: {weight: "5"} %></li>
        <li class ="cloud-list"><%= link_to "#viable", offers_path, class: "hashtags", class:"valeur", id:"viable", data: {weight: "8"} %></li>
        <li class ="cloud-list"><%= link_to "#ecolo", offers_path, class: "hashtags", class:"valeur", id:"ecolo", data: {weight: "6"} %></li>
        <li class ="cloud-list"><%= link_to "#équitable", offers_path, class: "hashtags", class:"valeur", id:"equitable", data: {weight: "4"} %></li>
        <li class ="cloud-list"><%= link_to "#diversité", offers_path, class: "hashtags", class:"valeur", id:"diversité", data: {weight: "5"} %></li>
        <li class ="cloud-list"><%= link_to "#parité", offers_path, class: "hashtags", class:"valeur", id:"parité", data: {weight: "9"} %></li>
        <li class ="cloud-list"><%= link_to "#inclusion", offers_path, class: "hashtags", class:"valeur", id:"inclusion", data: {weight: "7"} %></li>
      </ul>
    </div>
  </div>
</div>
<%# laisser pour le moment les id des hashtags au cas où ils nous servent pour du javascript effect si nous en faisons des liens %>
