<div class="banner">
  <div class= "container align-self-center ">
  <h5>Donnez du sens à votre vie!  Choisissez un travail éthique!</h5>
  
    <form class="d-flex">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputou"class="localisation">Localisation du poste</label>
          <input type="texte" class="form-control" id="inputou" placeholder="Où?">
        </div>
        <div class="form-group col-md-6">
          <label for="inputquoi" class="localisation">Le job de vos rêves</label>
          <input type="texte" class="form-control" id="inputquoi" placeholder="Quoi?">
          
        </div>
        <%= link_to "👌Go", offers_path, class: "btn-nav-bar" %>
        <%# <a class="btn-nav-bar" href="#">👌Go </a> %>
      </div>
    </form>
     <%= link_to "#environnemental", offers_path, class: "hashtags" %>
     <%= link_to "#economique", offers_path, class: "hashtags" %>
     <%= link_to "#social", offers_path, class: "hashtags" %>
     <%= link_to "#viable", offers_path, class: "hashtags" %>
     <%= link_to "#vivable", offers_path, class: "hashtags" %>
     <%= link_to "#equitable", offers_path, class: "hashtags" %>

  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-contact">
    Nous contacter | A propos
  </div>
</div>