<div class= "container-index-search">
      <div class= "form-align-u">
        <div class="label-align">
          <%= form_tag offers_path, as: :search, method: :get do %>
          <%= label_tag(:query,"Localisation du poste", class: "label-color") %>
          <%= text_field_tag "search[companies.city]",
          params[:query],
          class: "form-control",
          placeholder: "Où?"
          %>
        </div>

        <div class="label-align">
          <%= label_tag(:query,"Le job de vos rêves",class: "label-color") %>
          <%= text_field_tag "search[offers.name]",
          params[:query],
          class: "form-control",
          placeholder: "Quoi?"
          %>
        </div>
<%= render "shared/filter" %>
        <div class ="buttonGO">
          <%= submit_tag "Go👌", class: "buttonGo" %>
          <% end %>
        </div>
      </div>

    </div>


<div class="container">

  <h2>All The offers</h2>
  <% @offers.each do |offer| %>
    <div class="card-index">
       <div class="card-index-infos">
         <div>
           <%= image_tag offer.company.logo_url, alt: "Logo de l'entreprise", class: "card-logo" %>
           <div role="progressbar" aria-valuenow="62" aria-valuemin="0"
            aria-valuemax="100" style="--value:62"></div>

            <% if current_user %>
              <div id="coeur-anchor-<%= offer.id%>" class="coeur-fav">
              <% if current_user.already_in_list?(offer) %>
                <%= link_to wishlist_path(current_user.get_wishlist(offer)), method: :delete, remote: true do %>
                    <i class="fas fa-heart"></i>
                <% end %>

              <% else %>
                <%= link_to offer_wishlists_path(offer), method: :post, remote: true do %>
                    <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>

            <ul>
              <li class="card-offer-name"><%=offer.name%></li>
              <li class="card-company-name"><%=offer.company.name%></li>
                <div class="score">
                  <% average = [offer.company.eco_scoring, offer.company.social_scoring, offer.company.environmental_scoring] %>
                  <%= average.sum/average.size %> /100
                </div>
              <li class="card-company-city"><%=offer.company.city%></li>


              <%= image_tag "genres.png", alt: "logo féminin masculin non-binaire" %>
              <%= image_tag "PMR.png", alt: "logo PMR" %>

              <%= link_to "En savoir plus", offer_path(offer), class: "btn-toward-show" %>
            </ul>

        </div>

      </div>
      <p class="card-info-date"><%= offer.company.created_at.strftime("Ajoutée le %d/%m/%Y") %></p>
    </div>


  <% end %>

</div>



<%# cards
each
card
contenu
fermeture card
          each
          cards %>
