<div class="container">
  <h2>All The offers</h2>
  <% @offers.each do |offer| %>
    <div class="card-index">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-index-infos">
        <div>
          <tr>
            <td><%=offer.name%></td>
            <td><%=offer.company.name%></td>
            <td><%=offer.company.city%></td>
            <td><%=offer.company.eco_scoring%></td>


            <%= link_to "En savoir plus", offer_path(offer), class: "btn btn-primary" %>
          </tr>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= average = [offer.company.eco_scoring, offer.company.social_scoring, offer.environmental_scoring] %>


<%# cards
each
card
contenu
fermeture card
          each
          cards %>
