<div class ="blue-container" >
</div>
<div class= "container-index-search">

  <div class= "form-align-u">
    <%= render "shared/filter" %>
  </div>
</div>

<div class="container">

  <h2>All The offers</h2>
  <% @offers.each do |offer| %>
    <div class="card-index">
       <div class="card-index-infos">
         <div>
           <!-- eco_scoring des seeds -->
           <% average = [offer.company.eco_scoring, offer.company.social_scoring, offer.company.environmental_scoring] %>
                <% result = average.sum/average.size %>

           <%= image_tag offer.company.logo_url, alt: "Logo de l'entreprise", class: "card-logo" %>
           <!-- progress bar avec eco_scoring -->
           <div role="progressbar" aria-valuenow="<%= result %>" aria-valuemin="0"
            aria-valuemax="100" style="--value:<%= result%>"></div>

            <!-- méthodes create/delete sur coeurs -->
            <% if current_user %>
              <div id="coeur-anchor-<%= offer.id%>" class="coeur-fav">
              <% if current_user.already_in_list?(offer) %>
                <%= link_to wishlist_path(current_user.get_wishlist(offer)), method: :delete, remote: true do %>
                    <i class="fas fa-heart"></i>
                <% end %>

              <% else %>
                <%= link_to offer_wishlists_path(offer), method: :post, remote: true do %>
                    <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>

            <!-- reste des informations de la carte -->
            <ul>
              <li class="card-offer-name"><%=offer.name%></li>
              <li class="card-company-name"><%=offer.company.name%></li>
              <li class="card-company-city"><%=offer.company.city%></li>


              <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>
              <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>

              <%= link_to "En savoir plus", offer_path(offer), class: "btn-toward-show" %>
            </ul>

        </div>

      </div>
      <p class="card-info-date"><%= offer.company.created_at.strftime("Ajoutée le %d/%m/%Y") %></p>
    </div>


  <% end %>

</div>
