<div class= "container-index-search">
    <%= render "shared/filter" %>
</div>


<div class="container">

  <div class="d-flex">
    <div class= "cards-for-index">
    <% @offers.each do |offer| %>
      <div class="card-index">
        <div class="card-index-infos">
          <div>
            <!-- eco_scoring des seeds -->
            <% average = [offer.company.eco_scoring, offer.company.social_scoring, offer.company.environmental_scoring] %>
                  <% result = average.sum/average.size %>
              <% color = case
                  when result == 100
                       "#017e47"
                  when result <= 20
                       "#b31611"
                  when result <= 40
                     "#f7e136"
                  when result <= 60
                     "orange"
                  when result <= 80
                     "#5fb76b"
                end %>



            <%= image_tag offer.company.logo_url, alt: "Logo de l'entreprise", class: "card-logo" %>
            <!-- progress bar avec eco_scoring -->


            <div role="progressbar" aria-valuenow="<%= result %>" aria-valuemin="0"
              aria-valuemax="100" style="--value:<%= result%>; --primary:<%=color%>; left: 18em;"></div>

              <!-- méthodes create/delete sur coeurs -->
              <% if current_user %>
                <div id="coeur-anchor-<%= offer.id%>" class="coeur-fav">
                <% if current_user.already_in_list?(offer) %>
                  <%= link_to wishlist_path(current_user.get_wishlist(offer),
                  (params[:search].nil? ? nil : params.merge(
                    "search[companies.city]" => params[:search]["companies.city"],
                    "search[offers.name]" => params[:search]["offers.name"],
                    "search[income]"=> params[:search]["income"],
                    "search[contract]"=> params[:search]["contract"],
                    "search[companies.eco_scoring]"=> params[:search]["companies.eco_scoring"],
                    "search[companies.environmental_scoring]" => params[:search]["companies.environmental_scoring"],
                    "search[companies.social_scoring]" => params[:search]["companies.social_scoring"]
                    )
                    .permit(
                      "search[companies.city]",
                      "search[offers.name]",
                      "search[income]",
                      "search[contract]",
                      "search[companies.eco_scoring]",
                      "search[companies.environmental_scoring]",
                      "search[companies.social_scoring]"
                      ))), method: :delete, remote: true do %>
                      <i class="fas fa-heart"></i>
                  <% end %>

                <% else %>
                  <%= link_to offer_wishlists_path(offer, (params[:search].nil? ? nil : params.merge(
                    "search[companies.city]" => params[:search]["companies.city"],
                    "search[offers.name]" => params[:search]["offers.name"],
                    "search[income]"=> params[:search]["income"],
                    "search[contract]"=> params[:search]["contract"],
                    "search[companies.eco_scoring]"=> params[:search]["companies.eco_scoring"],
                    "search[companies.environmental_scoring]" => params[:search]["companies.environmental_scoring"],
                    "search[companies.social_scoring]" => params[:search]["companies.social_scoring"]
                    )
                    .permit(
                      "search[companies.city]",
                      "search[offers.name]",
                      "search[income]",
                      "search[contract]",
                      "search[companies.eco_scoring]",
                      "search[companies.environmental_scoring]",
                      "search[companies.social_scoring]"))), method: :post, remote: true do %>
                      <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
              <!-- reste des informations de la carte -->
              <ul>
                <li class="card-offer-name"><%=offer.name%></li>
                <li class="card-company-name"><%=offer.company.name%></li>
                <li class="card-company-city"><%=offer.company.city%></li>

                <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>
                <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>


                      <button class= "btn-toward-show" data-showid="show-card-<%=offer.id%>"> En savoir plus </button>
                  </ul>


                </div>

              </div>
            </div>
          <% end %>
      </div>




      <div class ="details-offers" >
        <%= render :partial => 'svg/images' %>

        <% @offers.each do |offer| %>
        <div class="index-details d-none" id="show-card-<%=offer.id%>">
          <%= render "shared/offer_details", offer: offer  %>
        </div>

        <% end %>

      </div>
    </div>



      </div>
    </div>
