<div class="container">
<%= render "shared/filter" %>
  <h2>All The offers</h2>
  <% @offers.each do |offer| %>
    <div class="card-index">
      <img src="https://image.shutterstock.com/image-vector/isometric-online-job-search-human-600w-1272747259.jpg" />
      <div class="card-index-infos">
        <div>
          <ul>
            <li><%=offer.name%></li>
            <li><%=offer.company.name%></li>
            <li><%=offer.company.city%></li>
            <% average = [offer.company.eco_scoring, offer.company.social_scoring, offer.company.environmental_scoring] %>
            <%= average.sum/average.size %> /100




            <%= link_to "En savoir plus", offer_path(offer), class: "btn-toward-show" %>
          </ul>
        </div>
      </div>
    </div>


  <% end %>

</div>



<%# cards
each
card
contenu
fermeture card
          each
          cards %>
