<div class="container">
  <h2>All The offers</h2>
  <% @offers.each do |offer| %>
    <div class="card-index">
       <div class="card-index-infos">
         <div>
            <ul>
              <li class="card-offer-name"><%=offer.name%></li>
              <li class="card-company-name"><%=offer.company.name%></li>
              <li><%=offer.company.city%></li>
              <% average = [offer.company.eco_scoring, offer.company.social_scoring, offer.company.environmental_scoring] %>
              <%= average.sum/average.size %> /100




              <%= link_to "En savoir plus", offer_path(offer), class: "btn-toward-show" %>
            </ul>
        </div>
      </div>
    </div>


  <% end %>

</div>



<%# cards
each
card
contenu
fermeture card
          each
          cards %>
