
<div class="container">
  <div class="myprofile">
    <img class="avatar-profile" src="https://pyxis.nymag.com/v1/imgs/f6a/ac1/4f3e0d5bbb8ea02ce335cef6ac8c5be584-jeff-bezos.rsquare.w1200.jpg"/>
      <div class="title-profile"><h2>Mes coordonnées</h2></div>
      <div class="row">
        <div class="card-profile-left col-12 col-lg-6">
          <p><%= current_user.first_name %></p>
          <p><%= current_user.last_name %></p>
          <p><%= current_user.email %></p>
        </div>
        <div class="card-profile-right col-12 col-lg-6">
          <img class="pdf-profile" src="https://inteng-storage.s3.amazonaws.com/images/JANUARY/sizes/jeff-bezos_resize_md.jpg"/>
        </div>
      </div>
  </div>
  <div class="mywishlist">
    <div class="title-profile"><h2>Mes offres favorites</h2></div>
      <div class="card-wishlist">
        <%@wishlists.each do |wishlist|%>
          <div class="card-index">
            <div class="card-index-infos">
              <div>
                <ul>
                  <li><%=wishlist.offer.name%></li>
                  <li><%=wishlist.offer.company.name%></li>
                  <li><%=wishlist.offer.company.city%></li>
                  <%#average = [wishlist.offer.company.eco_scoring, wishlist.offer.company.social_scoring, wishlist.company.environmental_scoring] %>
                  <%#=average.sum/average.size%> 80/100


                  <%#= link_to "En savoir plus", offer_path(offer), class: "btn-toward-show" %>
                </ul>
              </div>
            </div>
          </div>
        <%end%>
      </div>
  </div>
</div>
