<div class="container">
  <div class="myprofile">
    <div>
<%# verifier la presence d'une photo cloudinary
si presente > l'afficher
else > afficher photo venant des assets %>

    <% if current_user.photo.key? %>
      <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :fill, gravity: :auto, class: "avatar-profile" %>
      <%= simple_form_for(current_user, url: avatar_path, html: { method: :patch }) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Ajouter" %>
      <% end %>
    <% else %>
      <%= image_tag "logo.jpg", alt:"logo"  %>
    <% end %>
    </div>
    <div class="title-profile"><h2>Mes coordonnées</h2></div>
    <div class="row">
      <div class="card-profile-left col-12 col-lg-6">
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.email %></p>
      </div>
      <div class="card-profile-right col-12 col-lg-6">
        <img class="pdf-profile" src="https://edge.alluremedia.com.au/m/l/2017/06/Jeff-Bezos.jpg"/>
      </div>
    </div>
  </div>
  <div class="mywishlist">
    <div class="title-profile"><h2>Mes offres favorites</h2></div>
    <div class="d-flex">
      <div class= "cards-for-index">
        <%@wishlists.each do |wishlist|%>
        <div class="card-index">
          <div class="card-index-infos">
            <div>
                  <!-- eco_scoring des seeds -->
                  <% average = [wishlist.offer.company.eco_scoring, wishlist.offer.company.social_scoring, wishlist.offer.company.environmental_scoring] %>
                      <% result = average.sum/average.size %>

                  <%= image_tag wishlist.offer.company.logo_url, alt: "Logo de l'entreprise", class: "card-logo" %>
                  <!-- progress bar avec eco_scoring -->
                  <div role="progressbar" aria-valuenow="<%= result %>" aria-valuemin="0"
                  aria-valuemax="100" style="--value:<%= result%>"></div>

                  <!-- méthodes create/delete sur coeurs -->


                  <!-- reste des informations de la carte -->
                  <ul>
                    <li class="card-offer-name"><%=wishlist.offer.name%></li>
                    <li class="card-company-name"><%=wishlist.offer.company.name%></li>
                    <li class="card-company-city"><%=wishlist.offer.company.city%></li>

                    <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>
                    <%= image_tag "#{rand(2)}.png", alt: "icône accessibilité", class: "icons" %>

                    <button class= "btn-toward-show" data-showid="show-card-<%=wishlist.offer.id%>"> "En savoir plus" </button>
                  </ul>
            </div>
          </div>
          <p class="card-info-date"><%=wishlist.offer.company.created_at.strftime("Ajoutée le %m/%d/%Y") %></p>
        </div>
        <% end %>

        </div>
        <div class ="details-offers" >
          <h1>Futur show</h1>
          <img src="https://res.cloudinary.com/dqsotvcuw/image/upload/v1638790112/graphisme_rseee_srh6t7.png" alt="" class="w-100 img-hidden">
          <#%@wishlists.each do |offer| %>
          <#div class="index-details d-none" id="show-card-<#%=wishlist.offer.id%>">
              <#h2>.<#%=wishlist.offer.name%> <#/h2>
          </#div>
          <#% end %>
        </div>
      </div>
    </div>
  </div>
</div>
